body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #5C7A7D;
    font-family: "Poppins", sans-serif;
}
.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.signup-section, .login-section {
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 40px;
    background: none;
    color: #fff;
    display: none;
    text-align: center;
}

.signup-section {
    display: block; /* Show Signup by default */
}

h1 {
    font-size: 40px;
    margin: 0 0 10px;
}

h2 {
    margin-bottom: 20px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}

input, button {
    max-width: 350px;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border: 2px solid white;
    outline: none;
    margin-top: 13px;
}

input::placeholder {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    letter-spacing: 1px;
    opacity: 0.7;
}

input {
    background-color: transparent;
    color: white;
}

button {
    background-color: #4CAF50;
    color: black;
    font-size: large;
    border: 1px solid #45a049;
    border-radius: 10px;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

button:hover {
    background-color:  #45a049;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.forgot-password {
    text-align: right;
    margin-top: 17px;
    margin-bottom: 10px;
    width: 70%;
    margin-left: 0 auto;
    margin-right: auto; 
}

.forgot-password a {
    color: #16477E;
}

.middle-section {
    width: 100%;
    background: linear-gradient(130deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background1.jpg') no-repeat center/cover;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    position: relative;
}

.middle-section h1 {
    position: absolute;
    top: 10%;
    left: -40px;
    transform: rotate(-90deg);
    font-size: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 2px 3px 3px rgba(225, 225, 225, 0.5);
}

.middle-section p {
    margin: 10px 0;
    line-height: 1.6;
    font-size: 14px;
}

.middle-section .btn-section {
    margin-top: 20px;
}

.middle-section .btn-section button {
    background-color: #fff;
    color: #16477E;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.middle-section .btn-section button:hover {
    background-color: #16477E;
    color: #fff;
}

@media (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: nowrap;
    }
    .signup-section, .login-section {
        width: 30%;
    }
    .middle-section {
        width: 40%;
    }
}